name: "Build and publish project"

on:
  push:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v3
        with:
          allow-snapshots: true

      - name: Set up Java 21 (GraalVM)
        uses: actions/setup-java@v4
        with:
          distribution: "graalvm"
          java-version: 21
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build project
        run: ./gradlew build --no-daemon

      - name: Export version + commit
        id: vars
        run: |
          echo "GITHUB_SHA_SHORT=$(git rev-parse --short=7 HEAD)" >> $GITHUB_ENV
          VERSION=$(./gradlew properties -q | grep "^version:" | awk '{print $2}')
          echo "BUILD_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jars
          path: build/libs/*.jar

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.BUILD_VERSION }}-${{ env.GITHUB_SHA_SHORT }}
          name: "Build ${{ env.BUILD_VERSION }}-${{ env.GITHUB_SHA_SHORT }}"
          files: build/libs/*.jar
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
